/* Minimal & Clean */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .intro-section {
    background-color: #fefefe;
    padding: 4rem 0;
    text-align: center;
  }
  .intro-section img {
    max-width: 180px;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .section-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  footer {
    background-color: #fefefe;
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  